.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 5rem auto 2rem auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.sub-heading {
    color: #555;
    margin: 20px 0 10px;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.features-list {
    margin-left: 20px;
    color: #444;
}

.features-list li {
    margin-bottom: 10px;
}

.about-container.dark-mode {
    background-color: rgb(47, 46, 46);
    color: white;
    border: 1px solid yellow;
    box-shadow: 0 0 10px aqua;
}

.about-container.dark-mode .about-heading,
.about-container.dark-mode .sub-heading {
    color: white;
}

.about-container.dark-mode .about-text,
.about-container.dark-mode .features-list li {
    color: white;
}

.about-container.dark-mode .features-list {
    color: white;
}

@media (max-width: 768px) {
    .about-container {
        padding: 15px;
        margin: 5rem auto 2rem auto;
        max-width: 90%;
    }

    .about-heading {
        font-size: 1.8rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }

    .about-text {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    .about-container {
        padding: 10px;
        margin: 5rem auto 2rem auto;
    }

    .about-heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        font-size: 1.3rem;
    }

    .about-text {
        font-size: 14px;
        line-height: 1.4;
    }

    .features-list {
        margin-left: 2px;
    }

    .features-list li {
        font-size: 14px;
    }
}
