.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.sub-heading {
    color: #555;
    margin: 20px 0 10px;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.features-list {
    margin-left: 20px;
    color: #444;
}

.features-list li {
    margin-bottom: 10px;
}

.about-container.dark-mode {
    background-color: black;
    color: white;
  }

.about-container.dark-mode .about-heading,
.about-container.dark-mode .sub-heading {
    color: white;
    background: lightgray;
}

body.dark-mode .about-text,
body.dark-mode .features-list li {
    color: white;
}
