.carousel-container {
    position: relative;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9); 
  }
  
  .carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  
  .legend h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .legend p {
    margin: 5px 0;
  }

  .carousel .control-arrow {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
    cursor: pointer;
  }
  
  .carousel .control-arrow.control-prev {
    left: 0;
  }
  
  .carousel .control-arrow.control-next {
    right: 0;
  }  

  @media (max-width: 768px) {
    .carousel-container {
      height: 40vh;
    }

    .legend {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    .legend h1 {
      font-size: .8rem;
    }
  
    .legend p {
      font-size: 0.6rem;
    }

    .carousel .control-arrow {
      width: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-container {
      height: 30vh;
    }

    .legend {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    .legend h1 {
      font-size: .6rem;
    }
  
    .legend p {
      font-size: 0.4rem;
    }

    .carousel .control-arrow {
      width: 25px;
    }
  }
  
  
  
  