.loading-container, .details-container {
    margin: 20px auto;
    background: #ffffff;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.details-container{
    padding: 10px;
}

.error {
    font-size: 24px;
    color: #ff4d4d;
    margin: 20px;
    font-weight: bold;
}

.skeletonBtnmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 60%;
}

.skeletonbtn {
    display: flex;
    width: 200px;
    margin-top: 10px;
}

.leftSkeleton {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
}

.details-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #444;
    margin: 0;
    text-align: center;
}

.details-image {
    width: 90%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin: 10px auto;
}

.details-content {
    font-size: 1.25em;
    color: #555;
    text-align: left;
    margin:15px 50px;
}

.overview {
    font-style: italic;
}

strong {
    color: #000;
}

.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-now-button, .back-button {
    background-color: #d49a06;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    width: 20%;
    transition: background-color 0.3s;
}

.watch-now-button:hover, .back-button:hover {
    background-color: #b18e05;
}

.video-modal {
    background-color: rgb(171, 171, 171);
    padding: 20px;
    border-radius: 8px;
}

.video-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.close-modal {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #333;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding-bottom: 20px;
    width: 90%;
    max-width: 800px;
    background-color: darkcyan;
    border-radius: 10px;
}

.video-container iframe {
    max-width: 800px;
    height: 450px;
    margin-top: 0px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1.5em;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.close-button:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.close-button span {
    margin-left: 10px;
}

@media (max-width: 755px) {
    .details-container{
        max-width: 90%;
    }
     .details-content {
        margin:10px 20px;
    }

    .details-title {
        font-size: 2em;
    }
    
    .details-content {
        font-size: 1em;
        color: #555;
        text-align: left;
        margin:15px 50px;
    }
    
    
    .loading-container {
        margin: 40px auto;
    }
    .skeletonbtn {
        width: 150px;
        margin-top: 8px;
    }

    .imgSkeleton {
        height: 300px !important;
    }

    .watch-now-button, .back-button, .close-button {
        width: 80%;
        padding: 8px;
        font-size: 1em;
    }

    .video-container iframe {
        height: 350px;
    }

    .close-modal {
        font-size: 20px;
        right: 15px;
        top: 15px;
    }

    .close-button {
        padding: 8px 15px;
        font-size: 1.2em;
    }
}


@media (max-width: 600px) {
    .loading-container {
        max-width: 90%;
    }

    .details-title {
        font-size: 1.5em;
    }
    
    .details-content {
        font-size: .8em;
        margin: 8px 16px;
    }

    .watch-now-button, .back-button, .close-button {
        font-size: 1em;
    }

    .skeletonbtn {
        width: 120px;
    }

    .imgSkeleton {
        height: 200px !important;
    }

    .video-container{
        height: 400px;
    }
}

@media (max-width: 500px) {
    .skeletonbtn {
        width: 100px;
    }

    .details-title {
        font-size: 1.2em;
    }
    
    .details-image {
        width: 90%;
        max-width: 100%;
        min-height: 200px;
        height: auto;
    }
    
    .details-content {
        font-size: .6;
        margin: 4px 14px;
    }

    .watch-now-button, .back-button {
        width: 100%;
    }

    .video-container iframe {
        height: 250px;
    }

    .close-modal {
        font-size: 18px;
        right: 10px;
        top: 10px;
    }

    .close-button {
        padding: 6px 12px;
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .details-title {
        font-size: 1.2em;
    }

    .details-image {
        width: 90%;
        max-width: 100%;
        min-height:150px;
        height: auto;
    }
    
    .details-content {
        font-size: .5;
        margin: 4px 14px;
    }

    .watch-now-button, .back-button{
        width: 100%;
    }

    .skeletonbtn {
        width: 80px;
    }

    .imgSkeleton {
        height: 100px !important;
    }
}