.footer {
  background-color: #1c1c1c;
  color: #f0f0f0;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  border-top: 2px solid #f39c12;
}

.fcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.fcolumn {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  max-width: 300px;
}

.fcontainer .fcolumn .fheading {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
  padding-bottom: 5px;
}

.ftext {
  font-size: 1em;
  line-height: 1.5;
}

.flist {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.flistItem {
  margin: 8px 0;
}

.flistItem a {
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.3s;
}

.flistItem a:hover {
  color: #f39c12;
}

.fsocialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fsocialLink {
  text-decoration: none;
  color: #f0f0f0;
  margin: 5px 0;
  transition: color 0.3s;
}

.fsocialLink:hover {
  color: #f39c12;
}

.fbottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #f39c12;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .ffooter {
      padding: 20px 10px;
  }

  .fcontainer {
      flex-direction: column;
      align-items: center;
  }

  .fcolumn {
      margin: 10px 0;
      text-align: center;
  }
  
  .fcontainer .fcolumn .ffheading {
      font-size: 1.2em;
  }
  
  .ftext {
      font-size: 0.9em;
  }
  
  .flistItem a {
      font-size: 0.9em;
  }
}
