.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  
.heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold; /* Make it bold */
    color: #000000; /* Netflix-like color, change as needed */
    text-shadow: 1px 1px 2px rgba(121, 121, 121, 0.862); /* Adds depth */
  }

  .heading-line {
    height: 2px;
    background: linear-gradient(to right, transparent, #898989, transparent ); /* Faded ends */
    margin: 0 auto;
    width: 20%;
}

  .wrapper {
    position: relative; 
  }
  
  .divider {
    height: 2px; 
    margin: 20px auto; 
    width: 80%; 
    background: linear-gradient(to right, transparent, #898989, transparent); 
  }

  .mainSkeleton {
    text-align: center;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  
  .crslsubSkeleton{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    max-width: 80%;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
  opacity: 0.7;
  }
  
  .crslSkeleton{
      margin-bottom: 10px;
  }
  
  .card-skeleton {
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
  }

.cardSubSkeleton{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;    
  background-color: #e0e0e0;
  border-radius: 0 0 10px 10px;
}

.cardSkeleton{
  border-radius: 5px;
  margin: 10px 20px;
}

  @media (max-width: 768px) {
    .heading {
      font-size: 1.5rem; /* Smaller size for mobile */
    }
  }
  