.navbar {
    background-color: #f8f9fa;
    border-bottom: 2px solid #979797;
    width: 100%;
    padding: .2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 60px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #838486;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.navbar-nav .nav-link.active {
    color: #28a745;
    font-weight: bold;
    border-bottom: 2px solid #28a745;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.navbar.dark-mode {
    background-color: #333 !important;
    color: white;
    border-bottom: 2px solid white;
}

.navbar-dark .nav-link {
    color: white;
}

.navbar-dark .nav-link.active {
    color: #999;
}

.navbar-toggler {
    width: auto;
    margin-left: auto;
}

@media (max-width: 576px) {
    .navbar{
        padding: .1rem 1rem;

    }
    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .navbar-brand {
        margin-left: 10px;
        font-size: 1.2rem;
        margin-left: auto;
    }

    .navbar-toggler {
        width: auto;
        margin-left: auto;
        font-size: 1.2rem;
    }

    .navbar-collapse {
        text-align: center;
    }
    
    .navbar-collapse .navbar-nav {
        flex-direction: column;
    }
}
